<html>
	<body>
		<form method="post" action="/form">
			username:<input type="text" name="username"/>
			<br>
			password:<input type="password" name="password"/>
			<br>
			birthday:
			<select name="birthday">
				<option value="1988" selected="selected">1988</option>
				<option value="1989">1989</option>
				<option value="1990">1990</option>
			</select>
			<br>
			man:<input type="radio" name="sex" value="male" checked="checked"/>
			women:<input type="radio" name="sex" value="female"/>
			<br>
			basketball<input type="checkbox" name="interest" value="basketball"/>
			football<input type="checkbox" name="interest" value="football"/>
			tennis<input type="checkbox" name="interest" value="tennis"/>
			<br>
			intro:
			<br>
			<textarea rows="5" cols="80" name="intro">
			</textarea>
			<br>
			<input type="submit" value="submit"/>
		</form>
	</body>
</html>